[user]
        name = Oscar Gonzalez Fernandez
        email = oscar.fernandez@onthemarket.com
[core]
        editor = emacsclient -nw --alternate-editor=""
[push]
        default = simple
[color]
        ui = true
